@import "libmixsass/libmixin";

//Couleurs principales
$first-color: #FDF4E0;
$second-color: #4E4D4B;

@font-face {
    font-family: Coves;
    src: url("../font/Coves Light.otf") format("opentype");
}

@font-face {
    font-family: AbrahamLincoln;
    src: url("../font/AbrahamLincoln.ttf");
}

@font-face {
    font-family: Lobster;
    src: url("../font/Lobster 1.4.otf") format("opentype");
}

@font-face {
    font-family: Matiz;
    src: url("../font/Matiz.ttf");
}

@font-face {
    font-family: MrDafoe;
    src: url("../font/MrDafoe-Regular.ttf");
}

@font-face {
    font-family: gradeCursive;
    src: url("../font/5thgradecursive-2-italic.ttf");
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}


/*----------------------------BASE------------------------------------- */



section {
    padding: 10px;
}
p {
    line-height: 2rem;
}

strong {
    font-weight: bold;
}

.container {
    width: 100%;
}

.container .row {
    margin: 0;
}

.row {
    margin: 0;
}

.col {
    margin: 0;
    padding: 0 !important;
    width: 100%;
}

.section{
    padding-top: 0;
    padding-bottom: 0;
    margin:0;
    height: 100%;
    width: 100%;
}

/*----------------------------LAYOUT-------------------------------------*/

.l-header{

}

.l-sidebar{

}

.l-footer{

}

.background{
    background-color: $first-color;
}

/* ----------------------------------------------------------------------
----------------------------HEADLINE-------------------------------------
-----------------------------------------------------------------------*/

#accueil {
    min-height: 645px;
    line-height: 0;
    height: 100%;
    width: 100%;

}

#banniere{
    /*@include filter(2px, 0.5, null, null, null, null, null, null, null, 1, null);*/
    @include filter-flou(2px, 1, 0.5);
}


// Head Text

.headline{
    z-index: 120;
    text-align: center;
    width: 100%;
    margin-top: 130px;
}

.headline span{
    color: #A1887F;
    font-weight: 700;
}

.headline h1,h2,h3,h4 {
    color: $first-color;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}

.headline h1 {
    font-family: Lobster, sans-serif;
    font-size: 440%;
    color: #c2b088;
}

.headline h2{
    font-family: Matiz, sans-serif;
    font-size: 310%;
    text-transform: uppercase;
    color: #c2b088;
}

.headline h3{
    font-family: AbrahamLincoln, sans-serif;
    font-size: 300%;
}

.headline h4 {
    font-family: MrDafoe, sans-serif;
    font-size: 200%;
}

// Direction Bow
.expand {
    position:absolute;
    height: 56px;
    width: 100%;
    top:75%;
    left:0;
    right:0;
    text-align:center;
}

// Icon Social Network
.social {
    position:absolute;
    height: 56px;
    width: 100%;
    top:88%;
    left:0;
    right:0;
    text-align:center;
}

.icon {
    color: #fff;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 6px;
}

.icon:hover{
    color: #c2b088;
    transition: color 0.6s;
}

.headInit {
    /*@include animation('headInit', 1s, linear, null, null, null, forwards, null);*/
    animation: headBlur 1s linear;
    -webkit-animation: headBlur 1s linear;
    -moz-animation: headBlur 1s linear;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}

.headBlur {
    /*@include animation('headBlur', 1s, linear, null, null, null, forwards, null);*/
    animation: headInit 1s linear;
    -webkit-animation: headInit 1s linear;
    -moz-animation: headInit 1s linear;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}


/* ----------------------------------------------------------------------
----------------------------NAVBAR-------------------------------------
-----------------------------------------------------------------------*/

#navigation{
    text-align: center;
}

.fixNavigation{
    z-index: 9999;
    position: fixed;
    top: 0;
}

nav {
    text-align: center;
    background-color: $second-color;
}

nav img {
    width: 54px !important;
    height: 54px !important;
}

.table-of-contents a {
    height: 100%;
    color: $first-color;
}

.table-of-contents a:hover {
    color: #c2b088;
    border: none;
}

.table-of-contents a.active {
    font-weight: 300!important;
    color: #c2b088!important;
    border-left: none
}

.table-of-contents li {
    padding: 0;
}

.nav a {
    float:left;
    margin-right: 10px;
    margin-left: 10px;
}

.nav i {
    float:left;
}

.button-collapse {
    color: $first-color;
}

.table-of-contents a {
    line-height: inherit!important;
    padding-left: 20px!important;
}

@media only screen and (min-width: 993px) {
    .nav-wrapper {
        width: 100%;
    }
}


/* ----------------------------------------------------------------------
----------------------------ABOUT-------------------------------------
-----------------------------------------------------------------------*/

.hand {
    width: 60px !important;
}

// TEXT-ABOUT

.contentAbout {
    margin-top: 70px;
}


.contentAbout h6 {
    font-size: 1.1rem;
    line-height: 130%;
}

// WORKSPACE

.workspace {
}

.window img {
    position: absolute;
}

#night {
    width: 85%;
}

@media (min-width : 0px) and (max-width : 601px) {

    .card-about {
        margin-top: 470px !important;
    }

    #night {
        top: 50px;
        left: 40px;
    }

    .window {
        position: relative;
        width: 100%;
        top: -70px;
        left: -40px;
    }

    .desk {
        position: relative;
        width: 100%;
        top: 140px;
        left: -5px;
    }
}

@media (min-width : 601px) {

    #leeves  {
        animation: wind 1.5s linear infinite;
    }

    #night {
        top: 80px;
        left: 70px;
    }

    .window {
        position: relative;
        width: 530px;
        top: -70px;
        left: -40px;
    }

    .desk {
        position: relative;
        width: 500px;
        top: 140px;
        left: -5px;
    }
}


@media (min-width : 993px) {

    #leeves  {
        animation: wind 1.5s linear infinite;
    }

    .window {
        position: relative;
        width: 600px;
        top: -70px;
        left: -60px;
    }

    .desk {
        position: relative;
        width: 600px;
        top: 140px;
        left: 210px;
    }

    #night {
        top: 80px;
        left: 70px;
    }

}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }
    .main-menu .navbar-nav > li > a {
        padding: 20px 5px;
        font-size: 11px;
    }
}


.desk img {
    position: absolute;
}



#head {
    /*animation: headRotate 1.5s linear infinite;*/
}


@keyframes wind {
    0% {right:0px; top:0px;}
    25% {right:0px; top:2px;}
    50% {right:2px; top:2px;}
    75% {right:2px; top:0px;}
    100% {right:0px; top:0px;}
}

@keyframes headRotate {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

// CARD-RESUME

.card-about {
    position: relative;
    padding: 30px;
    margin: 10px;
    margin-bottom: 50px;
}

.center-top {
    text-align: center;
    margin-bottom: 90px;
}

.card-about ul {
    margin: 0;
    padding: 0;
}

.card-about img {
    width: 200px
}

.card-about ul li {
    margin: 8px 0;
    padding: 0;
    list-style: none;
}

.card-about ul li strong {
    width: 90px;
    display: inline-block;
}

.center-bottom {
    position: absolute;
    left: 0;
    bottom: -22px;
    text-align: center;
    width: 100%;
}

/* ----------------------------------------------------------------------
----------------------------SKILL-------------------------------------
-----------------------------------------------------------------------*/

// CARD-RESUME

.card-skill {
    position: relative;
    padding: 0px;
    margin: 10px;
}

.card-skill ul {
    margin: 0;
    padding: 0;
}

.card-skill img {
    width: 150px;
}

.card-skill ul li {
    margin: 0;
    list-style: none;
}

.card-skill ul li strong {
    width: 90px;
    display: inline-block;
}

.center-top-skill {
    text-align: center;
    margin-top: -25%;
}

.card-skill-head {
    margin-top: 30% ;
    border-radius: 3px;
}

.card-skill-head h3 {
    color: $second-color;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 200;
}

.card-skill-content img {
    width: 40px;
    margin-top: 10px;
}


.card-skill-content li {
    padding: 10px 0;
}

.card-skill-content li i {
    margin-left: 10px;
    width: 80px;
}


.card-skill-content li p {
    margin-left: 10px;
}

.card-skill-content li {
    padding: 0;
}

.collapsible.popout>li {
    margin: 0;
}

.collapsible-body p {
    padding: 1.2rem;
}

.collapsible-body {
    background-color: white;
}

.progress {
    margin-left: 10%;
    width: 80%
}

.skill-category{
    margin: 10px 30px 10px 30px;
    border-radius: 20px;
    padding-top: 20px;
}

.skill-category p{
    margin: 10px;
}


/* ----------------------------------------------------------------------
----------------------------CASE-------------------------------------
-----------------------------------------------------------------------*/


.experience{
    padding-top: 10px;
    padding-bottom: 10px;
}

.case{
    padding:0 0 0 0;
}
.case .item{
    margin-top: 50px;
}
.case .year{
    text-align:center;
    font-size: 16px;
    margin: auto;
    height: 100%;
}

.case hr{
    background: #323232;
    width: 80%;
}

.case .year hr{
    margin-top: 4px;
    margin-bottom: 4px;
    border: 0;
    border-top: 1px solid #323232;
}
.case .desc h4{
    letter-spacing: 0.5px;
    font-size:22px;
    color: $second-color;
}
.case .desc .subtitle{
    font-size:12px;
    font-style:italic;
    color: $second-color;
}

.subcontent {
    text-indent: 15px;
}

/* ----------------------------------------------------------------------
----------------------------PORTFOLIO-------------------------------------
-----------------------------------------------------------------------*/

.card-portfolio {
    position: relative;
    margin: 10px;
    margin-bottom: 50px;
}

.card-portfolio img {
    height: 280px!important;
}

/* ----------------------------------------------------------------------
----------------------------CONTACT-------------------------------------
-----------------------------------------------------------------------*/

.form p {
    margin: 0 0 14px;
}

form h5 {
    color: $second-color;
    margin: 20px 0;
}


.send {
    margin: 10px 0 14px;
    text-align:center
}

#map {
  width: 100%;
  height: 400px;
}
/*
.maps-wraper{
    position:relative;
}
.maps{
    width:100%;
    height:350px;
    display:block;
    background:#ccc;
}
.maps-address{
    border:1px solid #ccc;
    padding:20px 0;
    display:block;
    text-align:center;
    margin-bottom:40px;
}
.maps-address .fa{
    font-size:22px;
    margin-right:10px;
}
*/
/* ----------------------------------------------------------------------
----------------------------FOOTER-------------------------------------
-----------------------------------------------------------------------*/

.page-footer {
    margin: 0;
}

.footer-copyright {
    color: $second-color !important;
}

.page-footer {
    margin-top: 0px !important;
    padding-top: 0px !important;
}


/*----------------------------MODULES-------------------------------------*/

.widget{

}

.list{

}

/* RAFRAICHIIIIIRRR */

.title {
    letter-spacing: 1.5px;
    padding-top: 100px;
    padding-bottom: 30px;
}

.title h1{
    color: $second-color;
    font-family: Matiz;
    font-size: 2.8rem;
    text-transform: uppercase;
}

.title hr{
    color: $second-color;
    width: 99%;
    height: 5px;
}

.title img {
    width: 200px;
}

.title-icon {
    position: relative;
}


.addInfo img {
    transform: rotate(-45deg);
}

.addInfo img {
    transform: rotate(-45deg);
    float: left;
    margin-right: 40px;
    margin-left: 100px;
}


/*----------------------------STATES-------------------------------------*/

.is-active{

}

.is-hidden{

}

.is-visible{

}

/*----------------------------THEMES-------------------------------------*/

.black{
    background: black;
}

.white {
    background-color: $first-color !important;
}

.darken{
    opacity:0.9;
}

.darken-1{
    -webkit-filter : sepia(50%);
    filter: sepia(50%);
}

@keyframes headInit {
    from { @include filter-flou(2px, 1, 0.5) }
    to { @include filter-flou(7px, 1, 0.3) }
}

@keyframes headBlur {
    from { @include filter-flou(7px, 1, 0.3) }
    to { @include filter-flou(2px, 1, 0.5) }
}
