// Import js
script(src='//code.jquery.com/jquery-2.1.1.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js')
//script(src='https://maps.google.com/maps/api/js?sensor=false&ver=4.1.5')

//Personnal Js
// build:js js/min.js
script(src='js/init.js')
// endbuild

// Foot
footer.page-footer.black
    .footer-copyright
        | Copyright &copy; 2016 Valentin Bourreau, Tous droits r&eacute;serv&eacute;s.
