//Header
header#accueil.parallax-container.scrollspy
    .parallax
        img#banniere(src="img/accueil.jpg" alt="Fond représentation ville divisé en deux pas un ordinateur montrant un paysage de montagne")

    .headline
        h1 Webdesigner &
        h2 Developpeur Front-end
        h3 Valentin Bourreau
        h4 Nantes
        
    .expand
        a(href="#about")
            i.icon(class="fa fa-angle-double-down fa-3x")

    .social
        each item in social
            a(href="#{item.link}" target="_blank")
                i.icon(class="fa fa-#{item.name} fa-3x")
